<a href="https://colab.research.google.com/github/guddlaraji/files/blob/main/LC%2CMap%2Cfilter%2Clambda_python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find all of the numbers from 1-1000 that are divisible by 7

Find all of the numbers from 1-1000 that have a 3 in them

In [ ]:
for i in range(1, 1001):
    if i % 7 == 0:
        print(i)

In [ ]:
for i in range(1, 1001):
    if '3' in str(i):
        print(i)

Count the number of spaces in a string


some_string = 'the slow solid squid swam sumptuously through the slimy swamp'

In [4]:
some_string = 'the slow solid squid swam sumptuously through the slimy swamp'

spaces = some_string.count(' ')   # count spaces
print("Number of spaces:", spaces)

Number of spaces: 9

Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’). Result would look like (index, value), (index, value)

items = ["hi", 4, 8.99, 'apple', ('t,b','n')]

In [5]:
items = ["hi", 4, 8.99, 'apple', ('t,b','n')]

result = []   # empty list to store (index, value)

for i in range(len(items)):   # loop through indexes
    result.append((i, items[i]))   # add (index, value) as a tuple

print(result)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

Produce a list of tuples consisting of only the matching numbers in these lists

 list_a = [1, 2, 3,4,5,6,7,8,9],

 list_b = [2, 7, 1, 12].

 Result would look like (4,4), (12,12)

In [8]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_b = [2, 7, 1, 12]

result = []

# Check numbers in list_a
for num in list_a:
    if num not in list_b:
        result.append((num, num))

# Check numbers in list_b
for num in list_b:
    if num not in list_a:
        result.append((num, num))

print(result)

[(3, 3), (4, 4), (5, 5), (6, 6), (8, 8), (9, 9), (12, 12)]

Write a Python program to add three given lists using Python map and lambda.

nums1 = [1, 2, 3]

nums2 = [4, 5, 6]

nums3 = [7, 8, 9]

In [9]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
nums3 = [7, 8, 9]

# Add lists element-wise
result = list(map(lambda x, y, z: x + y + z, nums1, nums2, nums3))

print(result)

[12, 15, 18]

Write a Python program to square the elements of a list using the map() function.

nums = [4, 5, 2, 9]

In [12]:
nums = [4, 5, 2, 9]

# Use map and lambda to square each element
squared_nums = list(map(lambda x: x**2, nums))

print(squared_nums)

[16, 25, 4, 81]

Write a Python program that creates a list of names and uses the filter function to extract names that start with a vowel (A, E, I, O, U).

names = ["Elita", "Vitold", "Audovacar", "Kerensa", "Ramana", "Iolanda", "Landyn"]

In [13]:
names = ["Elita", "Vitold", "Audovacar", "Kerensa", "Ramana", "Iolanda", "Landyn"]

# Function to check if name starts with a vowel
starts_with_vowel = lambda name: name[0].upper() in "AEIOU"

# Use filter to get names starting with a vowel
vowel_names = list(filter(starts_with_vowel, names))

print(vowel_names)

['Elita', 'Audovacar', 'Iolanda']

Write a Python function that filters out all empty strings from a list of strings using the filter function.

strings = ["", "w3resource", "Filter", "", "Python", ""]


A new list containing only non-empty strings:
['w3resource', 'Filter', 'Python']

In [14]:
strings = ["", "w3resource", "Filter", "", "Python", ""]

# Use filter to remove empty strings
non_empty_strings = list(filter(lambda s: s != "", strings))

print(non_empty_strings)

['w3resource', 'Filter', 'Python']

Write a Python program that creates a list of dictionaries containing student information (name, age, grade) and uses the filter function to extract students with a grade greater than or equal to 95.

students = [

    {"name": "Denis Helio", "age": 17, "grade": 97},
    {"name": "Hania Mehtap", "age": 16, "grade": 92},
    {"name": "Kelan Stasys", "age": 17, "grade": 90},
    {"name": "Velvet Mirko", "age": 16, "grade": 94},
    {"name": "Delores Aeneas", "age": 17, "grade": 100},
]

sample output:-
[{'name': 'Denis Helio', 'age': 17, 'grade': 97}, {'name': 'Delores Aeneas', 'age': 17, 'grade': 100}]

In [15]:
students = [
    {"name": "Denis Helio", "age": 17, "grade": 97},
    {"name": "Hania Mehtap", "age": 16, "grade": 92},
    {"name": "Kelan Stasys", "age": 17, "grade": 90},
    {"name": "Velvet Mirko", "age": 16, "grade": 94},
    {"name": "Delores Aeneas", "age": 17, "grade": 100},
]

# Filter students with grade >= 95
top_students = list(filter(lambda s: s["grade"] >= 95, students))

print(top_students)

[{'name': 'Denis Helio', 'age': 17, 'grade': 97}, {'name': 'Delores Aeneas', 'age': 17, 'grade': 100}]

Write a Python function that filters out even numbers from a list of integers using the filter function.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter to keep only odd numbers
odd_nums = list(filter(lambda x: x % 2 != 0, nums))

print(odd_nums)

[1, 3, 5, 7, 9]