<a href="https://colab.research.google.com/github/guddlaraji/files/blob/main/Python_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

Input Description:

A positive integer is provided to you as an input.

Output Description:

Print the First 3 multiples of the number with single spaces between them as an output.

Sample Input :

2

Sample Output :

2 4 6

In [ ]:
N = int(input())
print(N, N*2, N*3)

2
2 4 6

In [ ]:
N = int(input())
print(N, N*2, N*3)

3
3 6 9

Get user input using input(“Enter your age: ”). If user is 18 or older, give feedback: You are old enough to drive. If below 18 give feedback to wait for the missing amount of years.

Output:
Enter your age: 30

You are old enough to learn to drive.
Output:

Enter your age: 15

You need 3 more years to learn to drive.

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are old enough to learn to drive.")
else:
    print(f"You need {18 - age} more years to learn to drive.")

Enter your age: 18
You are old enough to learn to drive.

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are old enough to learn to drive.")
else:
    print(f"You need {18 - age} more years to learn to drive.")

Enter your age: 21
You are old enough to learn to drive.

Write a code to get the input in the given format and print the output in the given format

Input Description:

Three integers are given in line by line.

Output Description:

Print the integers in a single line separate by space.

Sample Input :

2

4

5

Sample Output :

2 4 5

In [ ]:
a = int(input())
b = int(input())
c = int(input())

print(a, b, c)

2
4
5
2 4 5

In [ ]:
a = int(input())
b = int(input())
c = int(input())

print(a, b, c)

1
5
6
1 5 6

Write a code to get the input in the given format and print the output in the given format

Input Description:

First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:

Print the input in the same format.

Sample Input :

2 5

2 5 6

2 4 5

Sample Output :

2 5

2 5 6

2 4 5

In [ ]:
line1 = input()
line2 = input()
line3 = input()

print(line1)
print(line2)
print(line3)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

In [ ]:
line1 = input()
line2 = input()
line3 = input()

print(line1)
print(line2)
print(line3)

1 5
1 4 6
1 2 6
1 5
1 4 6
1 2 6

Write a code to get the input in the given format and print the output in the given format

Input Description:

First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:

Print the input in the same format.

Sample Input :

2 4

2 4

2 4

Sample Output :

2 4

2 4

2 4

In [ ]:
line1 = input()
line2 = input()
line3 = input()

print(line1)
print(line2)
print(line3)

2 4
2 4
2 4
2 4
2 4
2 4

In [ ]:
line1 = input()
line2 = input()
line3 = input()

print(line1)
print(line2)
print(line3)

1 2
1 2
1 2
1 2
1 2
1 2

Write a Python program to count the number of even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Expected Output :

Number of even numbers : 4

Number of odd numbers : 5

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

even_count = 0
odd_count = 0

for n in numbers:
    if n % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers :", even_count)
print("Number of odd numbers :", odd_count)

Number of even numbers : 4
Number of odd numbers : 5

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 9, 10, 12,13)

even_count = 0
odd_count = 0

for n in numbers:
    if n % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers :", even_count)
print("Number of odd numbers :", odd_count)

Number of even numbers : 5
Number of odd numbers : 5

Display float number with 2 decimal places using print()

input: num = 458.541315

expected output = 458.54

In [ ]:
num = 458.541315
print("%.2f" % num)

458.54

Check Palindrome Number

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

Expected Output:

original number 121

Yes. given number is palindrome number

original number 125

No. given number is not palindrome number

In [ ]:

num = input("Enter a number: ")

print("original number", num)
if num == num[::-1]:
    print("Yes. given number is palindrome number")
else:
    print("No. given number is not palindrome number")

Enter a number: 121
original number 121
Yes. given number is palindrome number

Take a variable ‘age’ which is of positive value and check the following:

(a) If the age is less than 10, print “Children”.

(b) If the age is more than 60, print ‘senior citizens’

© If it is between 10 and 60, print ‘normal citizen’

In [ ]:
# Take input
age = int(input("Enter your age: "))

# Check conditions
if age < 10:
    print("Children")
elif age > 60:
    print("Senior citizens")
else:
    print("Normal citizen")

Enter your age: 21
Normal citizen

Write a code to get the input in the given format and print the output in the given format.

Input Description:

A single line contains a string.

Output Description:

Print the characters in a string separated by comma.

Sample Input :

Medha

Sample Output :

M,e,d,h,a

In [ ]:
# Get input from user
s = input("Enter a string: ")

# Print characters separated by comma
print(','.join(s))

Enter a string: Medha
M,e,d,h,a

Python program to add two numbers.

num1 = 18

num2 = 7

In [ ]:
# Given numbers
num1 = 18
num2 = 7

# Add the numbers
sum = num1 + num2

# Print the result
print("The sum is:", sum)

The sum is: 25

 Python program to check if a string is palindrome or not.

 mystr = “malayalam”

In [ ]:
# Given string
mystr = "malayalam"

# Check if string is equal to its reverse
if mystr == mystr[::-1]:
    print("Yes. The string is a palindrome")
else:
    print("No. The string is not a palindrome")

Yes. The string is a palindrome

Python Program to calculate the square root

Note: change this value for a different result

num = 8

In [ ]:
import math

# Given number
num = 8

# Calculate square root
sqrt = math.sqrt(num)

# Print result
print("The square root of", num, "is", sqrt)

The square root of 8 is 2.8284271247461903

In [ ]:
import math

# Given number
num = 9

# Calculate square root
sqrt = math.sqrt(num)

# Print result
print("The square root of", num, "is", sqrt)

The square root of 9 is 3.0

# Find square root of real or complex numbers

# Importing the complex math module

hint: import cmath

num = 1+2j

In [31]:
# Import complex math module
import cmath

# Given complex number
num = 1 + 2j

# Print the number
print("Complex number:", num)

# Print square root using cmath
print("Square root:", cmath.sqrt(num))

Complex number: (1+2j)
Square root: (1.272019649514069+0.7861513777574233j)

# Python program to swap two variables

x = 5

y = 10

In [ ]:
# Given variables
x = 5
y = 10

# Swap the variables
x, y = y, x

# Print the swapped values
print("After swapping:")
print("x =", x)
print("y =", y)

After swapping:
x = 10
y = 5

Write a Python program to find out what version of Python you are using.

In [ ]:
import sys

# Print just the version number
print("Python version:", sys.version)

Python version: 3.12.11 (main, Jun  4 2025, 08:56:18) [GCC 11.4.0]

Write a Python program to display the current date and time.

Sample Output :

Current date and time :

In [ ]:
# Import datetime module
import datetime

# Get current date and time
now = datetime.datetime.now()

# Print current date and time
print("Current date and time :")
print(now)

Current date and time :
2025-09-21 13:41:10.921283

Write a Python program that calculates the area of a circle based on the radius entered by the user.

Python: Area of a Circle

In geometry, the area enclosed by a circle of radius r is πr2.

r = 1.1

Area = 3.8013271108436504

In [ ]:
# Take radius input from user
r = float(input("Enter the radius of the circle: "))

# Approximate pi as 3.14
pi = 3.14

# Calculate area
area = pi * r * r

# Print area
print("Area =", area)

Enter the radius of the circle: 1.1
Area = 3.7994000000000008

Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them.

In [32]:
# Take first and last name as input
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

# Print in reverse order
print(last_name, first_name)

Enter your first name: Guddla
Enter your last name: Rajeswari
Rajeswari Guddla

The Reverse Number program in Python takes a positive number as an input and then reverses the digits of the number and then prints it on the output screen. In Python, this can be achieved either by using string slicing or by using a while loop to extract and concatenate the digits in reverse order. Check out the above link for a detailed explanation and code

Input:

67884

output:

48876

In [ ]:
# Take input from user
num = input("Enter a number: ")

# Reverse the number
reversed_num = num[::-1]

# Print the reversed number
print(reversed_num)

Enter a number: 67884
48876

In [ ]:
# Take input from user
num = input("Enter a number: ")

# Reverse the number
reversed_num = num[::-1]

# Print the reversed number
print(reversed_num)

Enter a number: 12345
54321