<a href="https://colab.research.google.com/github/guddlaraji/files/blob/main/raji_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

30-06-2025
introduction to python basics

In [ ]:
#what is python
"""1.Python is a most emerging, general purpose programming language
ex:- ISRO scientist use python for physics calculation
     convert word to pdf and vice versa
     predict the stock prices
     download a video from youtube
   2.Python is a high level programming language-->Human friendly programming language
   3.python is a dynamically typed programming language--> no need to define the data type for variables
   4.python is inter preted programming language--> python execute the code line by line
   5.python is a object oriented programming language
   In Python each line of code is a object where it is own identity, attributes or properties and methods of interactions

python is a most emerging, general purpose, object oriented, hig-level, dynamically typed and interpreted programming language"""

In [ ]:
#Print Hello world! in the python.
print("Hello world!")

Hello world!

Numerical Data Types

In [ ]:
#There 3 types
#1.Integer--> INT-->A whole either +ve or -ve without decimal point is known as integers
print(10)
print(-5)
#find the data types for above integers
print(type(10))
print(type(-5))

10
-5
<class 'int'>
<class 'int'>

In [ ]:
#2.float---> float-->A number either +ve or -ve with decimal point  is known as float
print(2.25)
print(-5.5)
#find the data type
#use "type()"
print(type(2.25))
print(type(-5.5))

2.25
-5.5
<class 'float'>
<class 'float'>

In [ ]:
#3.complex numbers---> complex:- A real number withits imaginary part i sknown as complex number
#imaginary part denoted letter "J"--> IS KNOWN as Iota---> root -1
print(2+5j)
print(type(2+5j))

(2+5j)
<class 'complex'>

In [ ]:
print(type(2.0))
print(type(0))
print(type(0.0))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
print(type(6j))

<class 'complex'>

Arthematic operators

In [ ]:
#There are 7 types
#1.Addition---> +
print(10 + 5)
print(type(10+5))

15
<class 'int'>

In [ ]:
#2.sunstarction--->-
print(10-5)
print(type(10-5))

5
<class 'int'>

In [ ]:
#multiplication----> *
print(10*5)
print(type(10*5))

50
<class 'int'>

In [ ]:
#4.division---> /
print(10/5)
print(type(10/5))
#the default data type for division is a float
#so to get a proper co-efficient the default data type is a float

2.0
<class 'float'>

In [ ]:
print(3+2*4)

11

In [ ]:
#5.Modulus---> %--> it is remainder of the division
print(10%5)
print(type(10%5))

0
<class 'int'>

In [ ]:
print(63526%2)

0

In [ ]:
#6.exponential ---> **--> to the power off
print(2**3)
print(type(2**3))

8
<class 'int'>

In [ ]:
#7.floor division--> also known integer division
#in floor division it ignores the values after decimal point
print(10/3)
print(10//3)
print(type(10//3))

3.3333333333333335
3
<class 'int'>

floor value and ceil value

In [ ]:
#the values before diecimal point is known as floor value
#if the decimal point is more then 0.5 the next upcoming value is known as ceil value

Round()

In [ ]:
#The round function is applicable only for the decimal number
print(round(7))

7

In [ ]:
print(round(7.25))
print(round(7.56))

7
8

In [ ]:
print(round(-5.496))

-5

In [ ]:
print(round(5342.36256363473))
#round of the n umber to the 2 ndigits
print(round(5342.36656363473,2))

5342
5342.37

In [ ]:
print(round(12345.45672,2))

12345.46

In [ ]:
print(round(12345.98282872,-1))
#when we use -ve ndigit the values after the decimal point becomes zero

12350.0

In [ ]:
print(round(12345.98282872,-5))

0.0

In [ ]:
print(round(356.765,-2))

400.0

In [ ]:
print(round(2647.89823,-3))

3000.0

01-07-2025

In [ ]:
#print()
#type()
#round()

In [ ]:
print(round(9.56))
print(round(654.928272,3))

10
654.928

In [ ]:
print(round(35436.37846387,-2))

35400.0

In [ ]:
print(round(43732.29489737,-3))

44000.0

In [ ]:
#what is variable?
#variable is a continer where we can store our valuable information and reuse it
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

15
5
50
2.0
0
100000
2

Types of error

In [ ]:
#In Python there are 2 types of erros
#1.syntax error:- breaking the rules of a programming language can rise syntax error
""" Hello
Good evening! '''

In [ ]:
#2.Logical errors:- except syntax error all the errors comes under the logical error
#ex:- indentation error, Name error,  Type error, Attribute error, recursive error...etc

Rules to create variables

In [ ]:
#1.start creating the variable by using the alphabets
a = "Hello"
print(a)

Hello

In [ ]:
#2.dont start creating the varible by using numbers
2 = "hell world!"
print(2)

In [ ]:
#3. if you follow rule 1 and 2 start creating variable by using alphabets in b/w use the numbers
dsgas635dsjh = 100
print(dsgas635dsjh)

100

In [ ]:
#4.Don't use the special charceters in the variable names-->!,@,#,$,%,^,&,*,-,.,<space>
son age = 20
print(son age)

In [ ]:
#5.use the _ (underscore) in the varible name
_ = "hello"
print(_)

hello

In [ ]:
#6.don't use the inbuilt keywords as a variable name
True = 10
print(True)

In [ ]:
#print all the inbuilt keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
global = 10
print(global)

python is a object oriented programming language

In [ ]:
a = 10
print(type(a))

<class 'int'>

python is a interpreted programming language

In [ ]:
a = 10
b = 20
a = 30
b = 60
print(a+b)

90

Python is a dynamically typed programming language

In [ ]:
a = "hello"
print(type(a))

<class 'str'>

python is a case sensitive programming language

In [ ]:
c = 10
print(C)

smart ways of writing the variables

In [ ]:
#Assign the multiple values to the multiple variables and print it ina separate line?
a,b = 10,20
print(a)
print(b)

10
20

In [ ]:
a,b,c = 10,20,30
print(a,b,c, sep='\n')

10
20
30

02-07-2025

In [ ]:
#Assign a single or same value to the multiple variables and print it in a separate line?
a = 10
b = a
c = b
print(a,b,c, sep="\n")

10
10
10

In [ ]:
a,b,c = 10,10,10
print(a,b,c, sep="\n")

10
10
10

input()

In [ ]:
#what is a input()?
#input() intakes any kind of information and store it
#How can we create  input() and how can we access the values from input()
a = input('enter you email ')
print(a)
print(type(a))

enter you email ram123@gmail.com
ram123@gmail.com
<class 'str'>

In [ ]:
a = input()
b = input()
print(a+b)
#so input() takes any kind of information from user and by default it store it as a string

20
25
2025

In [ ]:
#How can we deal with numerical data when we use input()?
#by defining numerical data type infront of input()
a = int(input("enter number1 "))
b = int(input("enter number 2"))
print(a+b)

enter number1 20
enter number 225
45

In [ ]:
a = "12.5"
print(float(a))

12.5

In [ ]:
a = 10
#convert 10 into float
print(float(a))

10.0

In [ ]:
b = 25.5
print(int(b))

25

In [ ]:
#convert a float into string
a = 20.5
print(str(a))

20.5

In [ ]:
c = 10
d = 30
print(c+d)

40

strings

In [ ]:
#what is a string?
#String is a collection of characters where each character can be accessible
a = "Hello world!"
print(a)

Hello world!

In [ ]:
#There are 2 types of string
#single line string ---> " " or ' '
#multiline string---> """ """ or ''' '''

a = """Hello team
Good day!
today we are having a training session about strings"""
print(a)

Hello team
Good day!
today we are having a training session about strings

In [ ]:
#How can we access the characters from the string?
#By using indexex and slicing operator we can access the characters from string
#what is index?
#it is positional number of each character in a string
#indexing starts from 0
#string is ordered--> means the characters in the string is having sequence of index position numbers
#what is slicing?
#The process of getting a range of characters from the string is known as slicing
#The range of characters from main string is known as substring

In [ ]:
a = "Hello world!"
#print "H" from above string
#syntax:- [start_index]
print(a[0])
print(a[6])

H
w

In [ ]:
#access the "Hello" from above string
#syntax[start_index:end_index]
print(a[0:5])
#note:- slicing stops before one ondex position--> always end is --> n+1
#get the 'world!' from above string
print(a[6:12])

Hello
world!

In [ ]:
#print the even index position characters from the above string
#syantax:- [start:end:step]
print(a[0:12:2])
#print the odd index position characters
print(a[1:12:2])

Hlowrd
el ol!

In [ ]:
#print the last character from the string
a = "Hello world!"
print(len(a))  #len() is used find sum of characters in the string

12

In [ ]:
print(a[len(a)-1])
print(a[11])

!
!

Negative indexing:- accessing the range of characters in reverse direction

--> Negative indexing starts from -1

In [ ]:
#print the last character
a = input('enter your string ')
#synatx:- [start_-ve-index]
print(a[-1])

enter your string hello good evening
g

In [ ]:
a = "Hello world!"
#access the range of characters in reverse direction
#print world!--> !dlrow
#syntax:[start:end]
print(a[-1:-7:-1])
#The default slicing direction is from left to right side
#if you want reverse the string we need to give step as -1

!dlrow

In [ ]:
print(a[-1:-13:-1])

!dlrow olleH

03-07-2025

In [ ]:
a = "Hello world!"
print(a[6])
print(a[0:5])
print(a[0:12:2])
#olleH
print(a[-8:-13:-1])

w
Hello
Hlowrd
olleH

In [ ]:
#deafult indexing
a = "Hello world!"
# print(a[:])
# print(a[0:len(a)])
print(a[::])
#print the even index position chracters
print(a[::2])
#odd index position characters?
print(a[1::2])
#reverse the entire string
print(a[::-1])
#syantax-->[start(0):end(len):step(1)]

Hello world!
Hlowrd
el ol!
!dlrow olleH

In [ ]:
a = input("enter the string ")
print(a[::-1])

enter the string madam
madam

STRING Methods

In [ ]:
#the methods applicable on string is known as string methods
#what are string methods do we have?
a = "hello world!"
print(dir(a))
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs',
 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal',
  'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle',
  'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
   'removesuffix','replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip',
    'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper',
     'zfill'    """

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

"'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs',\n 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal',\n  'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle',\n  'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',\n   'removesuffix','replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip',\n    'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper',\n     'zfill'    "

Important string methods

In [ ]:
#capitalize():-converts the 1st letter into capital letter
a = "hello world!"
print(a.capitalize())

Hello world!

In [ ]:
#upper():
print(a.upper())

HELLO WORLD!

In [ ]:
#lower()
print(a.lower())

hello world!

In [ ]:
#title():- converts the 1st letter in to uppercase after space
a = "hello world!"
print(a.title())

Hello World!

In [ ]:
#**replace(old,new):- is used to replace the old string with new string
#from above replace world with universe and print "Hello universe!"
print(a.replace('world','universe'))

hello universe!

In [ ]:
#strip():- removes unwanted spaces from the leading and trailing ends of a string
a = "    hello world   "
print(a)
print(a.strip())
#lstrip()
print(a.lstrip())
#rstrip()
print(a.rstrip())

    hello world
hello world
hello world
    hello world

In [ ]:
#find():- is used to find the index position of character in string
a ="hello world!"
print(a.find('l'))
print(a.find('g'))

2
-1

In [ ]:
#index():-is used to find the index position of character in string
print(a.index('w'))
print(a.index('g'))
#what is the difference between index() and find()?

In [ ]:
#swapcase():- converts upper case in to lower and vice versa
a = "Hello World!"
print(a.swapcase())

hELLO wORLD!

In [ ]:
#zfill():- zero fill:- it matches the length of the string with given argument, by filling zeros infront of string
a = "hello"
print(a.zfill(10))

00000hello

String format methods

In [ ]:
age = 10
txt = "my age is {} years old"
#string format method takes a argument and place it over place holder--> {}
print(txt.format(age))

my age is 10 years old

In [ ]:
age = 10
txt = "my age is {} years old".format(age)
print(txt)

my age is 10 years old

In [ ]:
#f'string {format} method:-
age = 10
txt = f"my age is {age} years old"
print(txt)

my age is 10 years old

In [ ]:
item = input("enter the item name ")
price_each = float(input("enter the price "))
qwantity = int(input("enter qwantity "))
notify = f"Your order for {item} has been confirmed with an qwantity of {qwantity} and Total price {price_each*qwantity}"
print(notify)

enter the item name xyz mobile
enter the price 16999
enter qwantity 2
Your order for xyz mobile has been confirmed with an qwantity of 2 and Total price 33998.0

Escape characters-->is used to print the illegal characters

--> escape characters --> backward slash () infront of the illegal characters

In [ ]:
a = "Dwayne \"The Rock\" Johnson"
print(a)

Dwayne "The Rock" Johnson

04-07-2025

In [ ]:
print(1==1)
print(1<=5)
print(2>5)

True
True
False

In [ ]:
#what is conditional statements?
#to check a condition weather true or false we use conditional statements
#How can we check the conditions?
#to check the condition we use "Comaprision operators"
#Comparision operators also known as relational operators
"""There are 6types of relational operators
1. equals to---> ==
2. Not equals to --> !=
3. greater then   ---> >
4. less then ---->  <
5. greater then or equals too---> >=
6. less then or equals too--->  <= """
#How many conditional statements do we have?
#if--> elif--> else
#if --> if we want to check a condtion is true we use 'if' statement
#else:- if the condition is false use the else statement
#elif:- if there is more then 2 conditions to check we use elif

In [ ]:
#write program to check a student pass or fail
#pass marks can e greater then or equals to 45
student_marks = int(input("enter your marks "))
if student_marks >= 45:
  print("congratulation you have pass")
else:
  print("better luck next time")

enter your marks 22
better luck next time

In [ ]:
#write a program to check the given number is +ve or -ve or if the number zero means print neutral
num = int(input("enter your number  "))
if num>0:
  print("+ve")
elif num == 0:
  print("neutral")
else:
  print("-ve")
#why we use the conditional statements?
#To build the decision making codes

enter your number  100
+ve

logical operators

--> there are 3 types

and:- execute the program if all the conditions are true
or:- execute the program if any one condition is true
Not:- it reverse your actual output

In [ ]:
print("hello" == "hello")
print(5 == 5)
print(not("hello" == "hello"))
print(not(5==5))

True
True
False
False

and

In [ ]:
a = 55
b = 35
c = 40
d = 60
#check a is greater then c, and b is less then d, and d is greater then a
#if all the condition are true print all conditions satisfied else print not satisfied
if a>c and b<d and d>a:
  print("all conditions are satisfied")
else:
  print("Not satisfied")

all conditions are satisfied

OR

In [ ]:
#check a is less the b and d i s greater then d and d is less c and a is greater c
#if any one of the condition is true   or print true else print all conditions not satisfied
if a<b or b>d or d<c or a>c:
  print("satisfied")
else:
  print("Not satisfied")

#Note:- if there is more then 2 conditions use elif statements
#if we want to check multiple conditions at a time --> use "Logical operators"

satisfied

In [ ]:
a = "Hello world!"
print(a[0:5][2:5])
#Note:- avoid writing the variable name with upper case letters

llo

In [ ]:
#write a program to check the number is even or odd-->if the number is even print even else print odd
#write a program to check the given age is elibile for voting or not--> if the age is greater then 18 --> print elgible else print not elgible
#write a program to check a string is palindrom or not--> print if the string is palindron else print not palindrom

**08-07-2025**

**Nested Conditions**

In [ ]:
#what is nested condition?
#writing a  condition inside the another condition is known as nested
#Why we require nested condition or what is the purpose of nested condition?
#A current condition can be executed if the previous condition is satisfied
#if we want a series of outputs step by step we use nested conditions
a = 35
#check that ais greater then 10,20,30,and 40
#if a is greater then 10 print a is greater then 10
#if a is greater then 20 print a is greater then 20
#if a is greater then 30 print a is greater then 30
##if a is greater then 40 print a is greater then 40

In [ ]:
a = 25
if a> 10:
  print("a is greater then 10")
  if a>20:
    print("a is greater then 20")
    if a>30:
      print("a is greater then 30")
      if a>40:
        print("a is greater then 40")
      else:
        print("a is less then 40")
    else:
      print("a is less then 30")
  else:
    print("a is less then 20")
else:
  print("a is less then 10")

a is greater then 10
a is greater then 20
a is less then 30

Terinary operator--> if there is 2 condition to check (either true or false) in a single line we use terinary operator

In [ ]:
#check the given age group is elible for voting or not
age = int(input("enter your age "))
check = "eligible" if age>=18 else "Not elgible"
print(check)
#syntx:- "true" <space> condition <space> else <space> "false"

enter your age 21
eligible

**pass**

In [ ]:
#what is pass?
#it is null place holder when executes nothing will happens
#if there is incomplete code and don't want rise any error we use pass

In [ ]:
a = 10
if a> 5:
  pass

In [ ]:
#write a program to check the grades of the studen based on recived marks
#if the student recive marks between 50 to 60---> print "D" Grade
#if the student recive marks between 61 to 70---> print "C" Grade
#if the student recive marks between 71 to 80---> print "B" Grade
#if the student recive marks between 81 to 90---> print "A" Grade
#if the student recive marks between 91 to 100---> print "A+" Grade
##if the student recive marks more then 100 --> print "dont be smart"
#if the marks below 50 print "Better luck next time"
#use the nested if along with elif statements

In [ ]:
#what are conditional statements do we have in python?
#comaprision operators or relational operators
#if there is more then 2 conditions we use --> elif
#check the multiple conditions at a time ---> use logical operators
#what is nested condition?
#what is terinary operators
#what is pass?

**09-07-2025**

**loops**

In [ ]:
#what is loop?
#loop is a set of instructions
#what is the main purpose of the loops?
#to avoid the duplicate codes
#How many types of codes do we have?
#There are 2 types
#1.WET Codes--> write everything twice
#2.DRY Codes--> Dont repeat Yourself

#how many types of loops?
#There are 2types
#1.while loop
#2.for loop

In [ ]:
#what is a while loop?
#while loop runs a set of instruction or rules untill the condition remains True
#so if the condition become false it stops the iteration
#How can we check a condition?--> By using the comparision operators
print(1<=5)
print(2<=5)
print(3<=5)
print(4<=5)
print(5<=5)
print(6<=5)
#How many types of comaprision operators--> 6types
# ==, !=, >, <, >=, <=

True
True
True
True
True
False

In [ ]:
#write a simple program to instruct the user for number of pushups
target = 5
intial = 1
while intial <= target:
  print("go up")
  print("go down")
  print("=============rep completed=======",intial)
  intial = intial + 1

go up
go down
=============rep completed======= 1
go up
go down
=============rep completed======= 2
go up
go down
=============rep completed======= 3
go up
go down
=============rep completed======= 4
go up
go down
=============rep completed======= 5

In [ ]:
#write a simple program to run a lift when the user give 4th stop the lift at 4th floor
user = int(input('enter floor number '))
intial = 1
while intial <= user:
  print("you are at floor",intial)
  intial = intial + 1

enter floor number 3
you are at floor 1
you are at floor 2
you are at floor 3

In [ ]:
#write a program to print the numbers from 1 to 10 by using the while loop
intial = 1
while intial < 11:
  print(intial)
  intial = intial + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#create a countdown from 5 to 1 then print (blast off)
countdown = 5
while countdown >= 1:
  print(countdown)
  countdown -= 1   #countdown = countdown-1
print("Blast off")

5
4
3
2
1
Blast off

control sturctures of while loop

     1.break --> stop the loop irrespective next iterations
     2.continue--> skips the current iteration moves next iteration
     3.pass--> is a null place holder when executes nothing will happens

In [ ]:
#write a program to print the numbers from 1 to 10 by using the while loop
#stop the loop when it reaches to 6
intial = 1
while intial < 11:
  print(intial)
  if intial == 6:
    break
  intial = intial + 1

1
2
3
4
5
6

In [ ]:
intial = 0
while intial < 11:
  intial = intial + 1
  if intial == 6 or intial == 11 or intial == 3:
    continue
  print(intial)
#can we break a loop it multiple points--> No
#can we skip the iterations at multiple datapoints--> yes

1
2
4
5
7
8
9
10

In [ ]:
#pass
intial = 0
while intial < 11:
  intial = intial + 1
  if intial == 6 or intial == 11 or intial == 3:
    pass

In [ ]:
l = [1,2,3,4,5,6]
#in the above multiply each number with 2 and print the result.
#for loop runs a set of instruction in the collection or iterables
for i  in l:
  print(i*2)

2
4
6
8
10
12

In [ ]:
l = [1,2,3,4,5,6]
print(l*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

**10-07-2025**

**for loops**

In [ ]:
#what is a for loop?
#it runs set of instructions  in the collections or iterables

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  print(i*2, end=" ")
  #end keyword is used print the o/p in single line by having special character at the end of eac item

2 4 6 8 10 12 14 16 18 20

**control structures of for loop**

In [ ]:
#break:- stop the loop irresopective of next iterations
a = [1,2,3,4,5,6,7,8,9,10]
#in above collection stop the loop when it reaches 5 and print the elements before 5
for j in a:
  if j == 5:
    break
  print(j)

1
2
3
4

In [ ]:
#continue:- it skips the current iteration and moves the next
a = [1,2,3,4,5,6,7,8,9,10]
#dont print 4, 6, and 8
for  i in a:
  if i == 4:
    continue
  if i == 6:
    continue
  if i == 8:
    continue
  print(i,end=" ")

1 2 3 5 7 9 10

In [ ]:
for i in a:
  if i == 4 or i == 6 or i == 8:
    continue
  print(i, end= " ")

1 2 3 5 7 9 10

In [ ]:
#pass:- it is a null place holder
for i in a:
  if i == 4 or i == 6 or i == 8:
    pass

In [ ]:
i = 0
while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#How can we generate a range of numbers by using the for loop--> use range()
#write a program to genrate a arange of numbers upto 20
#range(start,end,step)
for i in range(21):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
#generate a range of numbers from 20 to 40
for  i in range(20,41):
  print(i,end=" ")

20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [ ]:
#Generate a range of even numbers upto 100
for i in range(0,101,2):
  print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#calculate the sum of numbers from 1 to 10 by using for loop?
total = 0
for i in range(1,11):
  total = total + i
  print(total)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#calculate the product of elements in given list by using the for loop?
a = [1,2,3,4,5]
#expected o/p--> 120
product = 1
for i in a:
  product = product * i
print(product)

120

In [ ]:
#find the prime numbers between 1 and 50?
for i in range(2,51):
  #print(i)
  for j in range(2,i):
    if i % j == 0:
      break
  else:
    print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
a = "Hello World"
#print all the uppcase letters from above string
#print the factorial of the 5 by using the loops

In [ ]:
for j in range(2,10): #2,3,4
   if j % 6 == 0:
     break
else:
  print(j)

In [ ]:
for i in range(2,11):  #2,3,4,5,6,7,8,9,10
  #print(i)
  for j in range(2,i):  #2,-->2,3-->2,3,4--> 2,3,4,5   #num ** 0.5
    if i % j == 0:
      break
  else:
    print(i,end=" ")

2 3 5 7

**11-07-2025**

In [ ]:
#How many types of data a collection can store?
#there are 2 types of data in collection
#1. Homogenous data:- if a collection is having single data type is known as homogenous data
#2. heterogenous data:- if a collection is having more then 1 data we call it as a heterogenous data
#collections is also known as iterables
#There are 4 types
#1. List
#2. Tuple
#3. dictionary
#4. set

**List**

In [ ]:
#what is list? or How can we declare a list? or define a list?
#List is declared---> []
#List is defined as ordered, mutable, and allows the dupliacate data


list allows the dupliacate data

In [ ]:
l1 = ['apple','banana','orange','kiwi','watermelon','apple','apple','pineapple']
#what is the length of the list?
print(len(l1))
print(l1)
print(type(l1))

8
['apple', 'banana', 'orange', 'kiwi', 'watermelon', 'apple', 'apple', 'pineapple']
<class 'list'>

**List is ordered**

In [ ]:
#what is ordered?
#ordered means the items in the list is having the sequence of index position numbers
#[start]
#print the 'orange' from above list?
print(l1[2])

orange

In [ ]:
#print the range of items from above list from apple', 'banana', 'orange', 'kiwi', 'watermelon'
#[start:end]
print(l1[0:5])
#print the even index position characters?
#[start:end:step]
print(l1[0:8:2])

['apple', 'banana', 'orange', 'kiwi', 'watermelon']
['apple', 'orange', 'watermelon', 'apple']

In [ ]:
l2 = ['apple', 'banana', 'orange', 'kiwi', 'watermelon', 'apple', 'apple', 'pineapple']
#access the last character from the above list
#Negative indexing
#['start']
print(l2[-1])
#print the range of characters in reverse direction 'watermelon', 'apple', 'apple', 'pineapple'
print(l2[-1:-5:-1])
#The default slicing direction is from left to right

pineapple
['pineapple', 'apple', 'apple', 'watermelon']