<a href="https://colab.research.google.com/github/guddlaraji/files/blob/main/RAJI_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basics of python**

In [ ]:
#print hello world in pyhton
print("Hello world!")

Hello world!

In [ ]:
print(10)
print(type(10))

10
<class 'int'>

In [ ]:
print(10.5)
print(type(10.5))

10.5
<class 'float'>

In [ ]:
print(2+5j)
print(type(2+5j))

(2+5j)
<class 'complex'>

In [ ]:
#what are all arthametic operators
print(10+5)
print(10-5)
print(10*5)
print(10/5) #The default data type for division is a float
print(10%5) #modulus--> %--> remainder of the division
print(10**5) #exponential---> **--> to the poweroff
print(10/3)
print(10//3) #floor divison also known as integer division-->ignores the values after the decimal point

15
5
50
2.0
0
100000
3.3333333333333335
3

**floor value and ceil value**

In [ ]:
#the numbers before the decimal point is known as floor value
#The next upcoming number if the decimal point is greater then or equals to 0.5 is known as ceil value

In [ ]:
#round():- the round() is applicable only for the decimal number
print(round(8))
#to round off the values upto particular ndigit we use the round()

8

In [ ]:
print(round(5.56))
print(round(32.459999))

6
32

In [ ]:
print(round(25432.76527236387,2))

25432.77

In [ ]:
print(round(56.2467,2))

56.25

In [ ]:
print(round(44.7426,3))

44.743

**Variables**

In [ ]:
#what is a variable?
#it is a container where we can store our valuable information and reuse it
a = "Hello world!"
print(a)
print(type(a))

Hello world!
<class 'str'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
b = 2+5j
print(type(b))

<class 'complex'>

In [ ]:
a = 10
b = 5
print(a+b)
print(a-b)

15
5

**Types of errors**

In [ ]:
#There are 2 types of errors
#1.syntax error:- breaking the rules of programming language can rise the syntax error
"""hello
welcome to python session! '''

SyntaxError: incomplete input (ipython-input-15-921115731.py, line 3)

In [ ]:
print("Hello"

In [ ]:
print(2* *3)

SyntaxError: invalid syntax (ipython-input-16-1359160973.py, line 1)

In [ ]:
#2.Logical errors:- except syntax error all the errors come under the logical error
#ex:- identation error, Name error, type error, attribute errors, recurssive errors...etc

**Rules to create the variables**

In [ ]:
#1.start creating the variable by using the alphabets
a = 10
print(a)

10

In [ ]:
#2.dont start the variable name with the numbers
2 = "Hello"
print(2)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-18-492520082.py, line 2)

In [ ]:
#3.if you follow  rule 1 and rule2 start creatung the variable by using alphabets in between use numbers
son2age = 20
print(son2age)

20

In [ ]:
#4.dont use the special characters in the variable names--> !,@,#,$,%,^,&,* <white space>,?
son@age = 20
print(son@age)

In [ ]:
#5.start creating the varible by using the underscore(_)
_ = "hello"
print(_)

In [ ]:
#6.dont use the inbuilt keywords as a variable name
if = 20
print(if)

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#try to avoid writing the variable name in uppercase

Python is dynamically typed programming language

--> we no need to define the data type for variables.

In [ ]:
a = "hello"
print(type(a))

<class 'str'>

python is a interpreted programming language

--> executes the code line by line

In [ ]:
a = 20
b = 30
a = 40
b = 50
print(a+b)

90

python is a object oriented programming language

In [ ]:
a = 10
b = "Hello world!"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

Python is case sensitive programming language

In [ ]:
a = "hello"
print(A)

NameError: name 'A' is not defined

smart ways of writing the variables

In [ ]:
#1.assign multiple values to the multiple variables and print it in a seprate line?
#Hint:- take 3 variables and print it
a,b,c = 10,20,30
print(a,b,c, sep='\n')

10
20
30

In [ ]:
#2.assign the single value to the multiple variables and print it in seprate line?
a = 10
b = 10
c = 10
print(a,b,c, sep='\n')

10
10
10

In [ ]:
a = b = c = 10
print(a,b,c, sep='\n')

10
10
10

Input()

In [ ]:
#what is input()?
#input() intakes any kind of information from user and store it
a = input()
b = input()
print(a+b)
#Note:- The default data type for input() is string
#why it is string?
#becuase string is collection of multiple characters

20
20
2020

In [ ]:
a = "20"
b = "25"
print(a+b)
#Note:- Adding of 2strings is known as concatenation

2025

In [ ]:
a = input('enter your email ')
print(a)

enter your email raji123@gmail.com
raji123@gmail.com

In [ ]:

a = int(input('enter num1 '))
b = int(input('enter num2 '))
print(a+b)

enter num1 3
enter num2 6
9

In [ ]:
a = complex(input('enter num1 '))
print(a)

enter num1 4
(4+0j)

In [ ]:
a = "5.5"
print(float(a))

5.5

In [ ]:
b = 10
print(str(b))

10

**Strings**

In [ ]:
##what is a string?
#string is a sequence of multiple characters where each character can be accessible
a = "Hello World!"
#How can we access the characters from the string?
#By using indexing and slicing operator-->[]
#string is ordered
#what is indexing--> positional number of characters in the string
#indexing can be starts from 0
#The process of getting a range of characters is known as slicing
#The range of characters from main string is known as substring

In [ ]:
a = "Hello World!"
#print 'w' from above string
#syntax--> [start]
print(a[6])
#print 'world' from above string
#syntax:-  [start:end]
print(a[6:11])
#print the even position characters
#syntax:- [start:end:step]
print(a[0:12:2])
print(a[1:12:2])

W
World
HloWrd
el ol!

Negative indexing is used to access the range of characters in reverse direction

--> -ve indexing starts from -1

In [ ]:
a = input()
#syntax:- [start_negative index]
print(a[-1])

3
3

In [ ]:
a = "Hello World!"
#print the world! in reverse direction---> !dlrow
#syntax:- [start:end]
print(a[-1:-7:-1])
#Note:- The default slicing direction is from left to right
#when we want to reverse the string we need define the step as -1

!dlroW

default indexing

by default the start can 0 and end is length of the string and step is 1

In [ ]:
a = "Hello World!"
print(a[:])
#print(a[0:len(a)])
print(a[::])
print(a[::2])
print(a[1::2])
print(a[::-1])

Hello World!
Hello World!
HloWrd
el ol!
!dlroW olleH

In [ ]:
print(len(a))

12

In [ ]:
a = input()
print(a[::-1])

FDD
DDF

**14-07-2025**

In [ ]:
a = "Hello world!"
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#replace the world with universe
print(a.replace('world','universe'))

Hello universe!

In [ ]:
#zfill
print(a.zfill(15))

000Hello world!

**collections**

In [ ]:
#1.list
#2.tuple
#3.set
#4.dictionary

In [ ]:
a = "Hello"
print(a[-1:-3:-1])

ol

In [ ]:
#How many types of data can be stored by collections?
#1.Homogenous
#2.heterogenous data

**List**

In [ ]:
#List is decalred in []
#list is defined as ordered, mutuable and allows the duplicate data

**list allows the duplicate data**

In [ ]:
l1 = ['apple','banana','orange','grapes','apple','apple']
print(len(l1))
print(l1)

6
['apple', 'banana', 'orange', 'grapes', 'apple', 'apple']

**List is ordered-->**

In [ ]:
#ordered means having sequence of index position numbers
#access the orngae
print(l1[2])
#print 'apple','banana','orange','grapes'
print(l1[0:4])
#print the even index position characters
print(l1[0:6:2])

orange
['apple', 'banana', 'orange', 'grapes']
['apple', 'orange', 'apple']

In [ ]:
print(l1[-1])
l2 = ['apple', 'banana', 'orange', 'grapes', 'apple', 'apple']
#print grapes,orange, banana, apple in reverse direction
print(l2[-3::-1])

apple
['grapes', 'orange', 'banana', 'apple']

In [ ]:
print(l2[::-1])

['apple', 'apple', 'grapes', 'orange', 'banana', 'apple']

list is mutable

when we suppose to say a collection is mutable

if the collecion following 3 properties

     1.replace or swap the items or elements
     2.add the new items to the existing list
     3.remove the items from the list

**replace or swap the items or elements**

In [ ]:
l3 = ['python','java','js','c++','c']
#How can we replace the items from list
#use index
l3[2] = "javascript"
print(l3)

['python', 'java', 'javascript', 'c++', 'c']

In [ ]:
#replace 'python',java with sql and Nosql
l3[0:2] = "sql",'Nosql'
print(l3)

['sql', 'Nosql', 'javascript', 'c++', 'c']

**Add the new items to the existing list**

In [ ]:
l4 = ['sql', 'Nosql', 'javascript', 'c++', 'c']
print(dir(l4))
#'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#1.append():-by default append method adds the item at end of the list
#can we add multiple items by using append()--> no
l4.append('python')
print(l4)

['sql', 'Nosql', 'javascript', 'c++', 'c', 'python']

In [ ]:
#2.insert():- used to add the element at particular index position
#add the java at 3rd index position
l4.insert(3,'java')
print(l4)
#can we add multiple items by using insert()-->No

['sql', 'Nosql', 'javascript', 'java', 'c++', 'c', 'python']

In [ ]:
#extend():- used to add items from other collections to the exisiting list
l5 = [1,2,3,4,5,6]
#add the l5 into l4
l4.extend(l5)
print(l4)

['sql', 'Nosql', 'javascript', 'java', 'java', 'c++', 'c', 'python', 1, 2, 3, 4, 5, 6]

**remove the items from the list**

In [ ]:
#1.pop(index):- by default it remove the last item from the list
l6 = ['sql', 'Nosql', 'javascript', 'java', 'java', 'c++', 'c', 'python', 1, 2, 3, 4, 5, 6]
l6.pop()
print(l6)

['sql', 'Nosql', 'javascript', 'java', 'java', 'c++', 'c', 'python', 1, 2, 3, 4, 5]

In [ ]:
l6.pop(6)
print(l6)

['sql', 'Nosql', 'javascript', 'java', 'java', 'c++', 'python', 1, 2, 3, 4, 5]

In [ ]:
#remove("name")
l6.remove('Nosql')
print(l6)

['sql', 'javascript', 'java', 'java', 'c++', 'python', 1, 2, 3, 4, 5]

In [ ]:
#del
del l6[6:]
print(l6)

['sql', 'javascript', 'java', 'java', 'c++', 'python']

In [ ]:
#4.clear()
l6.clear()
print(l6)

[]

In [ ]:
del l6
print(l6)

**sorting a list**

In [ ]:
a = ['apple','Apple','Banana','banana','Grapes','orange','Lemon']
a.sort()
print(a)
#Note:- in list the sorting can be done based on the ASCII numbers

['Apple', 'Banana', 'Grapes', 'Lemon', 'apple', 'banana', 'orange']

In [ ]:
a.sort(reverse=True)
print(a)

['orange', 'banana', 'apple', 'Lemon', 'Grapes', 'Banana', 'Apple']

In [ ]:
l =[10,5,7,21,6,20,16,12,18,14,26]
#sort the above list in decending order
l.sort(reverse=True)
print(l)

[26, 21, 20, 18, 16, 14, 12, 10, 7, 6, 5]

**Tuple**

In [ ]:
#what is tuple or define tuple and how can we declare a tuple?
#tuple declared in ()
#tuplie is ordered, immutable, and allows the duplicates

**tuples allows the duplicates**

In [ ]:
t1 = (1,2,3,4,5,6,1,2,3,4,5,6)
print(len(t1))
print(t1)
print(type(t1))

12
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
<class 'tuple'>

**tuple is ordered elements in tuple is having index position numbers**

In [ ]:
print(t1[::2])
print(t1[1::2])
print(t1[::-1])

(1, 3, 5, 1, 3, 5)
(2, 4, 6, 2, 4, 6)
(6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1)

**Tuple is immutable --> we cannot replace, add, and remove the items from the tuple**

In [ ]:
t2 = ('apple','banana','lemon','orange','watermelon')
print(dir(t2))
#'count', 'index'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t2[1] = "orange"
print(t2)

In [ ]:
#Tuple is faster then the list bcz tuple is immutable
#How can we add the items into tuple
#by converting it into list
l = list(t2)
print(l)

['apple', 'banana', 'lemon', 'orange', 'watermelon']

In [ ]:
t = tuple(l)
print(t)

('apple', 'banana', 'lemon', 'orange', 'watermelon')

In [ ]:
#if there is any changes or data manipulation required in future  we use list
#if there is no change to the data we use tuple

**15-07-2025**

**SET**

In [ ]:
#what is set or how can we declare a set?
#set--->{}
#set is defined as unordered, immutable, and wont allow the duplicates

**SET wont allow the duplicates**

In [ ]:
s1={'apple','banana','mango','pineapple','orange','apple','banana'}
print(len(s1))
print(s1)
print(type(s1))

5
{'pineapple', 'mango', 'banana', 'orange', 'apple'}
<class 'set'>

**Set is unordered**

In [ ]:
print(s1[2]) #'set' object is not subscriptable

SET is immutable where we cannot replace or swap the items or elements

but we can add and remove the elements from the set

In [ ]:
s2 = {'apple', 'mango', 'banana', 'pineapple', 'orange'}
print(dir(s2))
#'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update'

**Adding methods in set**

In [ ]:
#1.add():- add the item "grapes" in s2
s2.add('grapes')
print(s2)
#can we add multiple items by using add method-->No

In [ ]:
s2.add('watermelon','lemon')
print(s2)

In [ ]:
#2.update():- updates the set with other collections
s3 = {1,2,3,4,5,6}
#add the s3 in s2
s2.update(s3)
print(s2)

**remove the items from set**

In [ ]:
#1.pop()  it is not a best practice
s2.pop()
print(s2)

In [ ]:
#discard('element')
s2.discard(3)
print(s2)

In [ ]:
#what is diff b/w remove and discard?
#in remove method if the element exist it removes from set otherwise it rises an error
#In discard method if the exist or not it won't rise any error
s2.remove('xyz')
print(s2)

In [ ]:
s2.discard('xyz')
print(s2)

In [ ]:
#4.clear()
print(s2.clear())

In [ ]:
del s2
print(s2)

In [ ]:
#sets are faster then the list and tuple beacuse set is unordered and immutable

In [ ]:
s1 = {'a','b','c','d'}
s2 = {'d','e','f','g'}
print(s1.union(s2))

{'d', 'b', 'e', 'g', 'f', 'a', 'c'}

In [ ]:
print(s1.intersection(s2))

{'d'}

In [ ]:
s2.clear()
print(s2)

set()

**Dictionary**

In [ ]:
#what is dictionary and how can we declare a dictionary?
#dictionary is declared in {}
#dictionary is defined as unordered, mutable and wont allows the duplicate data
#How the data can be store in dictionary?
# {key:value} pairs

**dict wont allows the duplicate data**

In [ ]:
d1 = {
    'name':'MET',
    'Course': 'DS/DA/GEN-AI',
    'Duration':'4months',
    'Course':'PYTHON',
    'topics':['python','Numpy','pandas','seaborn','matplotlib','scikit-learn']
}
print(len(d1))
print(d1)
print(type(d1))

4
{'name': 'MET', 'Course': 'PYTHON', 'Duration': '4months', 'topics': ['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'scikit-learn']}
<class 'dict'>

**dictionary is unordered -->key:value pairs doen't index position number**

In [ ]:
#How can we access the information or values from dictionary--> using the keys
print(d1['topics'])

['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'scikit-learn']

In [ ]:
#access the multiple keys at a time
print(d1['topics'],d1['name'])

['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'scikit-learn'] MET

**dictionary is mutable**

In [ ]:
#replace the items from the dictionary
d1 = {
    'name':'MET',
    'Course': 'DS/DA/GEN-AI',
    'Duration':'4months',
    'Course':'PYTHON',
    'topics':['python','Numpy','pandas','seaborn','matplotlib','scikit-learn']
}
#replace the course as ds/da
d1['Course']='ds/da'
print(d1)

{'name': 'MET', 'Course': 'ds/da', 'Duration': '4months', 'topics': ['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'scikit-learn']}

In [ ]:
#add the new key:value pairs in d1
d1['address'] ='Hyderabad'
print(d1)

{'name': 'MET', 'Course': 'ds/da', 'Duration': '4months', 'topics': ['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'scikit-learn'], 'address': 'Hyderabad'}

In [ ]:
d2 = {
    'other_course':['jfs','pfs','cs']
}
#add the d2 in d1
d1.update(d2)
print(d1)

{'name': 'MET', 'Course': 'ds/da', 'Duration': '4months', 'topics': ['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'scikit-learn'], 'address': 'Hyderabad', 'other_course': ['jfs', 'pfs', 'cs']}

In [ ]:
#replace the scikit-learn with ML
d1['topics'][-1] ='ML'
print(d1)

{'name': 'MET', 'Course': 'ds/da', 'Duration': '4months', 'topics': ['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'ML'], 'address': 'Hyderabad', 'other_course': ['jfs', 'pfs', 'cs']}

In [ ]:
#remove the items from dictionary
#1.pop(key_name)
d1.pop('other_course')
print(d1)

{'name': 'MET', 'Course': 'ds/da', 'Duration': '4months', 'topics': ['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'ML'], 'address': 'Hyderabad'}

In [ ]:
#2.popitem():- default removes the last item and return the removed item
d1.popitem()
print(d1)

{'name': 'MET', 'Course': 'ds/da', 'Duration': '4months', 'topics': ['python', 'Numpy', 'pandas', 'seaborn', 'matplotlib', 'ML']}

In [ ]:
print(dir(d1))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#3.clear()
d1.clear()
print(d1)

{}

In [ ]:
#print only the keys
print(d2.keys())

dict_keys(['other_course'])

In [ ]:
print(d2.values())

dict_values([['jfs', 'pfs', 'cs']])

#revision


1. List-->[]-->ordered, mutable and allows the duplicates

          a.adding methods-->append(), insert(), extend()
          b.replace methods--> list[index_position_number] = 'element'name
          c.remove methods--> pop(),remove(),clear(), del list[start:end]
2. Tuple-->()--> ordered, immutable, and allows the duplicates
3. set--> set()--> unordered, immutable, and won't allows duplicates
          a.adding methods--> add(), update(), union()
          b.remove methods--> pop(),remove(),discard(),clear()
          c.replace methods--> No methods bcz it is unordered

4. dictionary--> {}--> unordered, mutable, and wont allows duplicates

         a.adding methods:- update(),  d1['new_key'] = 'value
         b.replace methods:- d1['existing_key'] = 'value
         c.remove methods:- pop(),popitem(), clear()

**16-07-2025**

**functions**

In [ ]:
#what is a function?
#function is a block of code which can be executed when you call it
#How can we create function?
#by using "def"
#what is the main purpose of the function?
#function is used to avoid the duplicate code

In [ ]:
#create a basic function
def f1():
  print("hello world!")
#call the function
f1()

hello world!

In [ ]:
#what ia parameter?
#when we define a function we create a variable which is known as parameter
def f2(name):
  print('hello',name)
#what is argument?
#whe we call function we pass some values which is known as arguments
f2('medha')

hello medha

In [ ]:
#How many parameter and arguments can be pass in afunction?
def details(name, age, gender, contact):
  print("hello please check your details", name, age, gender, contact)
#call the function
details('raji',21,'F',2013456987)
#Note:- No of parameters == No of Arguments

hello please check your details raji 21 F 2013456987

In [ ]:
#create a function to check a number is even or odd
def check_num(num):
  if num%2==0:
    print('even')
  else:
    print('odd')

check_num(345623)

odd

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
#create a function call 'total_of_nums' to print sum of numbers in the given list
sum = 0
for i in l:
  sum = sum + i   # sum += i
print(sum)

55

In [ ]:
def total_of_nums(l):
  sum = 0
  for i in l:
    sum = sum + i   # sum += i
  print(sum)

total_of_nums([10,20,30,40,50])

150

In [ ]:
total_of_nums([1,2,3,4,5,6,7,8,9])

45

In [ ]:
#Don't know how many parameters i need to pass but function has to print all the info
def details(**name):
  print(name)

details(name='raji',age=21,gender=21,occupation='DS')

{'name': 'raji', 'age': 21, 'gender': 21, 'occupation': 'DS'}

In [ ]:
#Don't know how many arguments need to pass my function has to accept it.
def topics(*name):
  print(name)
topics('python','Np','Pandas','Mysql')

('python', 'Np', 'Pandas', 'Mysql')

In [ ]:
""" 1. ** -->KWARGS--> Keyword arbitrary arguments
          --> when we don't know how many parameters need to pass we use the kwargs
          --> The default data type for kwargs is dictionary
    2. *--> ARGS--> ARbitrary arguments
        --> when we dont know the number of arguments need to pass we use the ARGS
        --> The default data type for the ARGS is Tuple   """

In [ ]:
a = set([1,2,3,4,1,2,3,4,1,2,3,4])
print(a)

{1, 2, 3, 4}

In [ ]:
#Create a function to print the sum of arguments
def total_of_nums(*l):
  sum = 0
  for i in l:
    sum = sum + i   # sum += i
  print(sum)

total_of_nums(20,30,50,60,70,10,200,345)

785

In [ ]:
#create a function where it can concatenate the words and form a sentence
def concat(**words):
  result = ""
  for i in words.values():
    result = result + i
  print(result)
concat(a="python ",b="is ",c='great')

python is great

return--> send back the values to the caller

-->note:- when we use the return keyword instead of print call function with print statement

In [ ]:
def f1(a,b):
  return (a+b)
print(f1(2,3))

5

17-07-2025

In [ ]:
#what is list comprehension?
#LC offers smaller line of code where a new list can be created from the existing list.
a = ['apple','banana','pineapple','orange','mango','watermealon']
#write a program to print the fruits having letter 'e' and store it in a new list.
new = []
for i in a:
  if 'e' in i:
    new.append(i)
print(new)

['apple', 'pineapple', 'orange', 'watermealon']

In [ ]:
def check_fruit(a):
  new = []
  for i in a:
    if 'e' in i:
      new.append(i)
  return new
#call the function
a = ['kiwi','apple','grapes','mango','pineapple']
print(check_fruit(a))

['apple', 'grapes', 'pineapple']

In [ ]:
#syntax:- [item for item in collection <space> apply condition]
a = ['apple','banana','pineapple','orange','mango','watermealon']
new = [i for i in a if 'e' in i]
print(new)

['apple', 'pineapple', 'orange', 'watermealon']

In [ ]:
#write program to print a range of even numbers from 1 to 40 and store it in a list
new = []
for i in range(1,41):
  if i%2==0:
    new.append(i)
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
#create by using the LC
new = [i for i in range(1,41) if i%2==0]
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
#write a program to convert all the items in a list to uppercase and store it in a new list
l = ['apple','banana','pineapple','orange','mango','watermealon']
n = []
for i in l:
  n.append(i.upper())
print(n)

['APPLE', 'BANANA', 'PINEAPPLE', 'ORANGE', 'MANGO', 'WATERMEALON']

In [ ]:
new = [i.upper() for i in l]
print(new)

['APPLE', 'BANANA', 'PINEAPPLE', 'ORANGE', 'MANGO', 'WATERMEALON']

In [ ]:
#write a program to print the sqrt of elements in below list and store it in a new list
l = [2,4,9,18,25,40,36,72,81]
new = [i**0.5 for i in l]
print(new)

[1.4142135623730951, 2.0, 3.0, 4.242640687119285, 5.0, 6.324555320336759, 6.0, 8.48528137423857, 9.0]

**Lambda Function**

In [ ]:
#what is lambda function?
#lambda function is an anonymous function where it can take many arguments and single expression

In [ ]:
def f1():
  print("hello")
f1()

hello

In [ ]:
#syntax:- lambda arguments: single expression
#how can we call the lambda function
#assign it to a variable
a = lambda x,y: x+y
print(a(10,5))

15

In [ ]:
b = lambda x,y,z: (x+10,y+20,z+30)
print(b(2,3,4))

(12, 23, 34)

In [ ]:
#Note:- functions are the first class objects-->a function can act like argument to the another function

In [ ]:
#when we need to use the lambda function?
#when there is more arguments and single expression we can use the lambda function.

In [ ]:
#cretae function where it can print the square, cube, fourtime and sqrt of the numbers
def square(n):
  return n**2
def cube(n):
  return n**3
def four(n):
  return n**4
def sqrt(n):
  return n**0.5

print(square(5))
print(cube(2))
print(four(3))
print(sqrt(36))

25
8
81
6.0

In [ ]:
def power(n):
  return lambda a: a**n
square = power(2)
cube = power(3)
four = power(4)
sqrt = power(0.5)
print(square(9))
print(sqrt(25))
print(cube(3))

81
5.0
27

**21-07-2025**

**map and filter**

**map()**

In [ ]:
#what is map()?
#map() takes a function as an argument and run it over each element in the collections or iterables
#syntax:-    map(function,cokkection_name)

In [ ]:
fruits =['apple','banana','orange','pineapple','watermelon','kiwi']
#print the length of each item from above list into a new list
new = []
for i in fruits:
  new.append(len(i))
print(new)

[5, 6, 6, 9, 10, 4]

In [ ]:
#by using the list comprehension:-
new =[len(i)for i in fruits]
print(new)

[5, 6, 6, 9, 10, 4]

In [ ]:
#len():- used to  find the count of characters
m1=map(len,fruits)
print(m1)

<map object at 0x7913ac00cfa0>

In [ ]:
#when wwe use the map() we need to decide in what collection type we need to print the o/p:---> list,tuple,set
m1= tuple(map(len,fruits))
print(m1)

(5, 6, 6, 9, 10, 4)

In [ ]:
l = [1,2,3,4,6,7,4,5,10,12,13,15,16,12,18,19,20]
#check the even number from the above list of data if the number is even print number else print odd
new = []
for i in l:
  if i%2==0:
    new.append(i)
  else:
    new.append("odd")
print(new)

['odd', 2, 'odd', 4, 6, 'odd', 4, 'odd', 10, 12, 'odd', 'odd', 16, 12, 18, 'odd', 20]

In [ ]:
def check_num(n):
  if n%2==0:
    return n
  else:
    return'odd'
  print(check_num(13))

In [ ]:
m2 = list(map(check_num,l))
print(m2)
#takes a function as a argument and run it over the each and every element we need not to use the loop here

['odd', 2, 'odd', 4, 6, 'odd', 4, 'odd', 10, 12, 'odd', 'odd', 16, 12, 18, 'odd', 20]

In [ ]:
#when we need to use the map ()?
#when there is more user inputs we use the map()
user = input()
print(user)
print(type(user))

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
<class 'str'>

In [ ]:
user = input().split()
print(user)
print(type(user))

1 2 3 4 5 6 7 8 9
['1', '2', '3', '4', '5', '6', '7', '8', '9']
<class 'list'>

In [ ]:
#convert the list of str numbers in to int of list
new =[]
for i in user:
  new.append(int(i))
print(new)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#int()
m3 = list (map(int,user))
print(m3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
m4 = list (map(complex,user))
print(m4)

[(1+0j), (2+0j), (3+0j), (4+0j), (5+0j), (6+0j), (7+0j), (8+0j), (9+0j)]

In [ ]:
l =[1,2,3,4,5,6]
#print the multiples of 2 into  a new list
lc =[i*2 for i in l]
print(lc)

[2, 4, 6, 8, 10, 12]

In [ ]:
 #using the lambda() inside the map
 m5 = list(map(lambda a:a*2,l))
 print(m5)

[2, 4, 6, 8, 10, 12]

**filter()**

In [ ]:
#what is filter()?
#filter() also  takes function as an argument and run it over every element in the iterables
#filter() prints o/p where the condition is true
#syntax:--> filter(function,iterable)

In [ ]:
age =[16,20,15,17,18,22,25,21,12,26,16]
#write a program to print age group who are eligible for voting---->age >=18
def age_check(n):
  if n>=18:
    return n
  else:
    return "not eligible"
print(age_check(15))

not eligible

In [ ]:
m6 = list(map(age_check,age))
print(m6)

['not eligible', 20, 'not eligible', 'not eligible', 18, 22, 25, 21, 'not eligible', 26, 'not eligible']

In [ ]:
def age_check(n):
  if n>=18:
    return n
f = list(filter(age_check,age))
print(f)

[20, 18, 22, 25, 21, 26]

In [ ]:
lc =[i for i in age if i>=18]
print(lc)

[20, 18, 22, 25, 21, 26]

In [ ]:
f2 =list(filter(lambda a:a>=18,age))
print(f2)

[20, 18, 22, 25, 21, 26]